@font-face {
	font-family: "RocknRollOne";
	src: url(/assets/RocknRoll_One/RocknRollOne-Regular.ttf);
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	max-height: 100%;
	background: url(/assets/ben-o-bro-87oQ_cUO1Ns-unsplash.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "RocknRollOne", "Arial", sans-serif;
	color:#a5ccee;
}

.container {
	margin-top: 20px;
	margin-left: 75px;
}

@media (max-device-width: 800px) {
	.container {
		margin-top: 4.5px;
		margin-left: 2px;
	}
}
